

.ui-icon-tb-165 {background-image: url(chrome-extension://noofffdlmiiafkggnnglkodehmmojoia/styles/images/logo.png) !important ;}
.ui-icon-tb-168 {background-image: url(chrome-extension://noofffdlmiiafkggnnglkodehmmojoia/styles/images/toolbar_find.png) !important; }
.ui-icon-tb-167 {background-image: url(chrome-extension://noofffdlmiiafkggnnglkodehmmojoia/styles/images/thumb_up.png) !important; }
.ui-icon-tb-166 {background-image: url(chrome-extension://noofffdlmiiafkggnnglkodehmmojoia/styles/images/star.png) !important; }
.ui-icon-tb-109 {background-image: url(chrome-extension://noofffdlmiiafkggnnglkodehmmojoia/styles/images/maps_stack.png) !important; }
