<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en-US</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIdentifier</key>
	<string>com.softomate.proxy</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>BRPL</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>WebPluginDescription</key>
	<string></string>
	<key>WebPluginMIMETypes</key>
	<dict>
		<key>application/foxy-proxy-plugin</key>
		<dict>
			<key>WebPluginTypeDescription</key>
			<string>FoxyProxy Mac Plugin</string>
		</dict>
	</dict>
	<key>WebPluginName</key>
	<string>FoxyProxy Mac Plugin</string>
</dict>
</plist>
